#big_container{
  border: 5px solid red;
  display: flex;
  flex-direction: column;
}

#header_container{
  height: 70px;
  flex: 1;
  border: 5px solid violet;
  display: flex;
}

#header_logo{
  border: 5px solid violet;
  flex: 2;
}

#header_middle{
  border: 5px solid green;
  flex: 5;
}
#header_buttons{
  border: 5px solid red;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#button_pass{
  flex: 1;
  border: 5px solid green;
}

#button_logout{
  flex: 1;
  border: 5px solid orange;
}

#body_container{
  flex: 1;
  border: 5px solid green;
  height: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
}

#body_container2{
  flex: 1;
  border: 5px solid green;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#roow{
  flex: 1;
  height: 250px;
  border: 5px solid orange;
  display: flex;
}

#boxx{
  flex: 1;
  border: 5px solid red;
  max-width: 320px;
  min-height: 240px;
  max-height: 240px;
  min-width: 240px;
}

#side_container{
  flex: 1;
  border: 5px solid orange;
  /*border: 0;*/
  height: 800px;
  min-width: 170px;
  max-width: 170px;

}

#photos{
  border: 5px solid #40798C;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo{
  border: 5px solid #40408C;

  width: 150px;
  height: 100px;
}

#all_photos{
  margin-top:20px;
  border: 5px solid #ED254E;
  height: 5%;
}
#video_container{
  flex: 8;
  border: 5px solid black;
  display: flex;
  min-width: 320px;
  height: 800px;
}
#vide{
  flex: 1;
  border: 5px solid blue;
}
#videohtml{
  flex: 1;
  border: 5px solid yellow;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
#feet_container{
  flex: 1;
  border: 5px solid blue;
}

#videvideo1{
  flex: 1;
  border: 5px solid silver;
  max-height: 229px;
}
#videvideo2{
  flex: 1;
  /*border: 5px solid silver;*/
  min-height: 300px;
  border: 0;
  display: flex;
  flex-direction: column;

}
#buttons{
  flex: 1;
  border: 5px solid #CDE77F;

  max-height: 60px;
}
#preimageid{
  flex: 1;
  /*border: 5px solid #709176;*/
  border: 0;
  width: 320px;
  height: 240px;
}
#video_id{
  flex: 1;
  /*border: 5px solid gold;*/
  border: 0;
  width: 320px;
  height: 240px;
}

#effect_big_picture{
  position:absolute;
  z-index: 100;
  width:320px;
  height:240px;
}

#effect_small_picture{
  position:absolute;
  z-index: 100;
  max-width: 320px;
  max-height: 240px;
}
#video{
  position: absolute;
}

#buttons{
  display: flex;
}
#buttons_indeed{
  border-color: red;
  flex: 1;
}

#buttons_upload{
  border-color: blue;
  flex: 1;
}
