*{
  padding: 0;
  border: 0;
  margin: 0;
}
body{
  display: flex;
  background-color: #7DCD85;
  height: 100vh;
}
.all{
  margin: 0 auto;
  background:none;
  width: 90%;
  height: 1200px;
  display: flex;
  flex-direction: column;
}
.cuerpo{
  display: flex;
  flex-wrap: wrap;
}
.header{
  background-color: red;
  height: 140px;
  width: 80%;
  margin: 0 auto;
}

.sidebar{
  background-color: purple;
  /*height: 1000px;
  width: 20%;*/
  flex: 1;
}
.belly{
  background-color: blue;
  /*height: 1000px;
  width: 75%;
  margin: 0 auto;
  padding-left: 25%;
  border-width: thick;
  border-color: violet;*/
  flex: 1;
  /*padding-left: 25%;*/
}

.handlemain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sidebar{
  flex: 1;
  float: left;
  background-color: purple;
  height: 1000px;
  width: 25%;
}

@font-face {
  font-family: "coneria";
  src: url('Demo_ConeriaScript.ttf');
}

.firstblock{
  flex: 1;
}
.secblock{
  flex: 1;
}
.boxbox{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content_form{
padding: 30px;
border-radius: 50%;
background-color: #CF5C36;
max-width: 50%;
}

#content_form p, input{
  font-size: 3vh;
  font-size: 5vw;
  background: none;
}

#video{
  position: absolute;
}

#effect{
  position:absolute;
  z-index: 100;
  width:320px;
  height:240px;
}
